{% extends "tweets/base.html" %}

{% block content %}

<style>
    .form-check {
        padding: 0 10px 0 0 !important
    }

    fieldset {
        padding: 10px 0 0 0 !important
    }
</style>

<h1><i class="fa fa-list"></i> Co-occurrence</h1>

<style>
    #toggleSearch[aria-expanded=true] .show-search {
        display: none;
    }

    #toggleSearch[aria-expanded=false] .hide-search {
        display: none;
    }
</style>

<p>
    <a id="toggleSearch" class="btn btn-outline-primary" data-toggle="collapse" href="#collapseSearch" role="button"
        aria-expanded="true" aria-controls="collapseSearch">
        <span class="show-search">Show search</span>
        <span class="hide-search">Hide search</span>
    </a>
</p>
<div id="collapseSearch" class="collapse show">
    <div class="content-section">
        <form action="{% url 'cooccurrence' %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="search_term">Search term</label>
                </div>
                <input type="text" class="form-control" id="search_term" name="search_term" placeholder="" title="Search term. E.g. vaccine. When left blank, it is taken as covid19.">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="start_date">Start date</label>
                </div>
                <input type="text" class="datepicker form-control" name="start_date" placeholder="" title="When provided, tweets posted before this date will be ignored.">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="end_date">End date</label>
                </div>
                <input type="text" class="datepicker form-control" name="end_date" placeholder="" title="When provided, tweets posted after this date will be ignored.">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="tweet_count">Tweet count</label>
                </div>
                <select class="form-control" name="tweet_count">
                    <option selected>1,000</option>
                    <option>5,000</option>
                    <option>10,000</option>
                    <option>100,000</option>
                    <option>All</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="result_size">Result size</label>
                </div>
                <select class="form-control" name="result_size">
                    <option>5</option>
                    <option>10</option>
                    <option selected>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <!-- <fieldset>
                <div class="form-group form-inline">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="person" name="ent-person" checked>
                        <label class="form-check-label" for="person" title="People, including fictional.">PERSON</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="norp" name="ent-norp" checked>
                        <label class="form-check-label" for="norp"
                            title="Nationalities or religious or political groups.">NORP</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="fac" name="ent-fac" checked>
                        <label class="form-check-label" for="fac"
                            title="Buildings, airports, highways, bridges, etc.">FAC</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="org" name="ent-org" checked>
                        <label class="form-check-label" for="org"
                            title="Companies, agencies, institutions, etc.">ORG</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="gpe" name="ent-gpe" checked>
                        <label class="form-check-label" for="gpe" title="People, including fictional.">GPE</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="loc" name="ent-loc" checked>
                        <label class="form-check-label" for="locorp"
                            title="Nationalities or religious or political groups.">LOC</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="product" name="ent-product" checked>
                        <label class="form-check-label" for="product"
                            title="Buildings, airports, highways, bridges, etc.">PRODUCT</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="event" name="ent-event" checked>
                        <label class="form-check-label" for="event"
                            title="Companies, agencies, institutions, etc.">EVENT</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="work_of_art" name="ent-work_of_art" checked>
                        <label class="form-check-label" for="work_of_art" title="People, including fictional.">WORK_OF_ART</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="law" name="ent-law" checked>
                        <label class="form-check-label" for="law"
                            title="Nationalities or religious or political groups.">LAW</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="language" name="ent-language" checked>
                        <label class="form-check-label" for="language"
                            title="Buildings, airports, highways, bridges, etc.">LANGUAGE</label>
                    </div>
                </div>
            </fieldset> -->
            <fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-primary" type="submit">Analyze</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% if graphic %}
{{ graphic | safe }}
<p></p>
{% elif request.type == 'POST' %}
<div class="row">
    <div class="col-sm-12">
        <div class="card border-primary mb-3">
            <div class="card-body text-primary">
                <h5 class="card-title">No results returned to analyze.</h5>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if tweet_count %}
<div class="row">
    <div class="col-sm-2">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Search term</div>
            <div class="card-body text-primary">
                <h5 class="card-title">{{ search_term }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Tweet count</div>
            <div class="card-body text-primary">
                <h5 class="card-title">{{ tweet_count }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Result size</div>
            <div class="card-body text-primary">
                <h5 class="card-title">{{ result_size }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">First tweet date</div>
            <div class="card-body text-primary">
                <h5 class="card-title">{{ first_tweet_date }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Last tweet date</div>
            <div class="card-body text-primary">
                <h5 class="card-title">{{ last_tweet_date }}</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Time elapsed</div>
            <div class="card-body text-primary">
                <h5 class="card-title">{{ time_elapsed }} sec</h5>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if graphic %}
<script>
    window.addEventListener('load', function () {
        $('#toggleSearch').attr('aria-expanded', 'false')
        $('#collapseSearch').removeClass('show')
    }, false);
</script>
{% endif %}

{% endblock content %}